/* Body */
:root{
    --color-main: lightblue;
    --color-sub: white;

    --border-basic: 1px solid black
    --border-test: 1px solid red;
}
body{
    text-align: center;
    background-color: var(--color-sub);
}

/* Nav bar */
nav{
    background-color: var(--color-sub);
    height: 90px;
    width: 50%;
    margin: 5px 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
}