/* Body */
:root{
    --color-main: lightblue;
    --color-sub: white;

    --border-basic: 1px solid black
    --border-test: 1px solid red;
}
body{
    text-align: center;
    background-color: var(--color-sub);
}

/* Nav bar */
nav{
    background-color: var(--color-sub);
    height: 90px;
    width: 50%;
    margin: 5px 0px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

nav li {
    border: 1px solid black;
    width: 100%;
    padding: 5px 0px;
}

nav a{
    color: black;
    text-decoration: none;
}
nav li:hover{
    color: black;
    background-color: white;
    text-decoration: none;
    width: 105%;
}


/* Header */
header {
    position: relative;
    background: url(../images/bg-img.jpg);
    /* border: 1px solid red; */
    height: 200px;
    background-size: cover;
    width: 100%;
}

h1 {
    color: white;
    position: absolute;
    left: 11.2px;
    top: 60px;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: black;
}

